html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html{
    height: 100%;
}

body{
    background-color: #fff;
    font: 100% 'Open-Sans', sans-serif;
    height: 100%;
}

ol,ul{
    list-style: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

a,a:hover{
    text-decoration: none;
}

.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}

.clearfix:after{
    clear: both;
}

.container{
    max-width: 1000px;
    margin: 0 auto; 
}

/* HEADER */

#header{
    height: 100vh;
    background-image: url('../img/large.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-inner{
    width: 100%;
    height: 100%;
    
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(35, 35, 35, .9);
}

.header-content{
    flex-basis: 550px;
}

.header-title{
    font-family: 'Open-Sans';
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    border: 1px solid #8f8f8f;
    padding: 45px 0;
}

.header-title span{
    color: #f7ac53;
}

.header-nav{
    text-align: center;
    margin-top: 10px;
}

.nav-list{
    display: inline-block;
}

.nav-list > li{
    float: left;
}

.nav-list > li > a{
    font-family: 'Open-Sans';
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 8px;
}

.nav-list > li:after{
    content: "|";
    color: #f7ac53;
}

.nav-list > li:last-child:after{
    content: "";
}

.scroll-arrow{
    position: absolute;
    bottom: 10%;
    left: 50%;

    width: 16px;
    height: 16px;
    margin-left: -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) rotate(-45deg);;
    }
    40% {
        transform: translateY(-30px) rotate(-45deg);;
    }
    60% {
    transform: translateY(-15px) rotate(-45deg);;
    }
}

/* GENERAL ELEMENTS */

.upper{
    margin-bottom: 100px;
    text-align: center;
}

.upper > .line{
    display: inline-block;
    height: 125px;
    width: 2px;
    margin-bottom: 15px;
    background-color: #feb960;
}

.upper > h2{
    font-size: 14px;
    color: #feb960;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.upper > h1{
    font-size: 30px;
    color: #fff;
}


/* ABOUT US */

#about{
    height: 800px;
    background-color: #202020;
}

.about-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-item{
    flex-basis: 33%;
}

.about-item > .icon{
    font-size: 25px;
    color: #feb960;
    margin-bottom: 10px;
}

.about-item > h1{
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.about-item > p{
    font-size: 14px;
    color: #bbbbbb;
}

/* GALLERY */

#gallery{
    background: #181818;
    height: 850px;
}

.gallery-content{
    padding-top: 110px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-content > .upper{
    position: absolute;
    top: 110px;
    left: 0;
    text-align: left;
    z-index: 2;
}

.gallery-content > .gallery-slider{
    flex-basis: 790px;
    max-height: 600px;

    position: relative;
}

.gallery-slider > .slider{
    width: 100%;
    height: 100%;
}

.gallery-slider > .slider > .slider-item{
    position: relative;
    height: 100%;
}

.gallery-slider > .slider > .slider-item > .slider-mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(35, 35, 35, .7);
    z-index: 1;
}

.gallery-slider > .slider > .slider-item > img{
    max-width: 100%;
    display: block;
}

.gallery-nav{
    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
}

.gallery-nav > .gallery-nav-list{
    display: inline-block;
}

.gallery-nav > .gallery-nav-list > li{
    float: left;
    margin-right: 40px;
}

.gallery-nav > .gallery-nav-list > li:last-child{
    margin-right: 0;
}

.gallery-nav > .gallery-nav-list > li > span{
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #5c5c5c;
}

.gallery-nav > .gallery-nav-list > li > span.active{
    background-color: #feb960;
}

.gallery-arrows-mobile{
    display: none;
}

.gallery-arrows-mobile > span{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.gallery-arrows{
    position: absolute;
    left: 100%;
    bottom: 0;
    padding-left: 35px;
}

.gallery-arrows > .gallery-arrows-list{
    margin-bottom: 15px;
}

.gallery-arrows > .gallery-arrows-list > li{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.gallery-arrows > .gallery-arrows-list > li.next > span{ margin-right: 3px; }
.gallery-arrows > .gallery-arrows-list > li.prev > span{ margin-left: 3px; }

.gallery-arrows > .gallery-arrows-list > li > i{
    color: #feb960;
}

.gallery-arrows > .line{
    display: inline-block;
    height: 125px;
    width: 2px;
    background-color: #feb960;
}

/* SERVICES */

#service{
    height: 800px;
    background-color: #202020;
}

.service-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.service-content > .service-item{
    flex-basis: 33%;
    height: 410px;
    border-left: 1px solid #181818;
    text-align: center;

    position: relative;
}

.service-content > .service-item:first-child{
    border-left: none;
}

.service-item > .service-img{
    position: relative;
    display: inline-block;
    width: 160px;
    height: 160px;
    margin-bottom: 20px;    
    
    overflow: hidden;
    border-radius: 50%;
    background: #fff;
}

.service-item > .service-img > .service-item-mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(35, 35, 35, .7);
}

.service-item > .service-img > img{
    max-width: 100%;
    display: block;
}

.service-item > .service-text{
    padding: 0 10px;
}

.service-item > .service-text > h1{
    font-size: 14px;
    text-transform: uppercase;
    color: #feb960;
    font-weight: bold;
}

.service-item > .service-text > .price{
    font-size: 13px;
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
}

.service-item > .service-text > p{
    font-size: 13px;
    color: #bababa;
}

.service-item > .see-more{
    position: absolute;
    bottom: 0;
    right: 15px;
}

.service-item > .see-more > span{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.service-item > .see-more > span > i{ color: #feb960; }

.tattoo-catalog{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background: rgba(35, 35, 35, .9);

    display: none;

    /*display: flex;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.tattoo-slider > .tattoo-list > img{
    max-width: 100%;
    max-height: 700px;
    display: none;
}

.tattoo-slider > .tattoo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.tattoo-nav > .tattoo-arrows > span{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.tattoo-nav > .amount{
    font-size: 16px;
    color: #fff;
}

.tattoo-close{
    position: absolute;
    top: 10px;
    right: 30px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

/* FOOTER */

#footer{
    padding: 10px 0;
    background-color: #181818;
}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-content > span{
    font-size: 14px;
    color: #bababa;
}

.footer-content > .footer-links > li{
    float: left;
    color: #181818;
    margin-right: 5px;
}

.footer-content > .footer-links > li:last-child{ margin-right: 0; }

.footer-content > .footer-links > li > a{
    display: inline-block;
    width: 22px;
    height: 22px;
    font-size: 16px;
    color: #343434;
    text-align: center;
    background-color: #bababa;
    border-radius: 50%;
}

/* MEDIA QUERIES */

@media (min-width: 1281px) {}

@media (min-width: 1025px) and (max-width: 1280px) {}

@media (min-width: 768px) and (max-width: 1024px) {
    .upper{
        margin-bottom: 50px;
    }
    
    .upper > .line{
        height: 95px;
    }
    
    .upper > h1{
        font-size: 26px;
    }
    
    #about{
        height: 700px;
    }

    .about-item{
        padding: 0 15px;
    }
    
    #gallery{
        height: auto;
        padding-bottom: 50px;
    }

    .gallery-content{
        padding-top: 0;
    }

    .gallery-content > .upper{
        position: static;
        text-align: center;
        flex-basis: 100%;
    }

    .gallery-content > .gallery-slider{
        flex-basis: 700px;
    }

    .gallery-arrows{
        display: none;
    }
    
    .gallery-arrows-mobile{
        display: block;

    }

    .gallery-arrows-mobile > span.prev,
    .gallery-arrows-mobile > span.next{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 3;
    }
    
    .gallery-arrows-mobile > span.prev{
        left: 5px;
    }
    
    .gallery-arrows-mobile > span.next{
        right: 5px;
    }

    #footer{
        padding: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media (min-width: 481px) and (max-width: 767px) {
    .upper{
        margin-bottom: 30px;
    }
    
    .upper > .line{
        height: 95px;
    }
    
    .upper > h1{
        font-size: 26px;
    }
    
    .header-inner{
        padding: 0 15px;
    }

    #about{
        height: auto;
        padding: 0 15px;
        padding-bottom: 50px;
    }
    
    .about-content{
        flex-wrap: wrap;
    }

    .about-item{
        padding: 0 15px;
        flex-basis: 65%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    #gallery{
        height: auto;
        padding-bottom: 50px;
    }

    .gallery-content{
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .gallery-content > .upper{
        position: static;
        text-align: center;
        flex-basis: 100%;
    }

    .gallery-content > .gallery-slider{
        flex-basis: 600px;
    }

    .gallery-arrows{
        display: none;
    }
    
    .gallery-arrows-mobile{
        display: block;

    }

    .gallery-arrows-mobile > span.prev,
    .gallery-arrows-mobile > span.next{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 3;
    }
    
    .gallery-arrows-mobile > span.prev{
        left: 5px;
    }
    
    .gallery-arrows-mobile > span.next{
        right: 5px;
    }

    #footer{
        padding: 10px;
    }
    
    #service{
        height: auto;
        padding-bottom: 50px;
    }

    .service-content{
        flex-wrap: wrap;
    }

    .service-content > .service-item{
        flex-basis: 60%;
        text-align: center;
        margin-bottom: 20px;
        border: none;
        height: 360px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .upper{
        margin-bottom: 30px;
    }
    
    .upper > .line{
        height: 95px;
    }
    
    .upper > h1{
        font-size: 26px;
    }
    
    .header-inner{
        padding: 0 15px;
    }

    #about{
		height: auto;
		padding: 0 15px;
		padding-bottom: 50px;
    }
    
    .about-content{
        flex-wrap: wrap;
    }

    .about-item{
        padding: 0 15px;
        flex-basis: 80%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    #gallery{
        height: auto;
        padding-bottom: 50px;
    }

    .gallery-content{
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .gallery-content > .upper{
        position: static;
        text-align: center;
        flex-basis: 100%;
    }

    .gallery-content > .gallery-slider{
        flex-basis: 600px;
    }

    .gallery-arrows{
        display: none;
    }
    
    .gallery-arrows-mobile{
        display: block;

    }

    .gallery-arrows-mobile > span.prev,
    .gallery-arrows-mobile > span.next{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 3;
    }
    
    .gallery-arrows-mobile > span.prev{
        left: 5px;
    }
    
    .gallery-arrows-mobile > span.next{
        right: 5px;
    }

    #footer{
        padding: 10px;
    }
    
    #service{
        height: auto;
        padding-bottom: 50px;
    }

    .service-content{
        flex-wrap: wrap;
    }

    .service-content > .service-item{
        flex-basis: 80%;
        text-align: center;
        margin-bottom: 20px;
        border: none;
        height: auto;
    }

    .service-item > .service-text{
        margin-bottom: 20px;
    }

    .service-item > .see-more{
        position: static;
        float: right;
    }
}